* {
  font-family: "Outfit", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0;
}

#logoEpicode {
  width: 20%;
  margin-bottom: 2rem;
}

h1 {
  font-weight: normal;
  font-size: 70px;
  line-height: 0.8em;
  margin: 50px 0px;
}

span {
  font-weight: bold;
}

h3 {
  color: #c2128d;
  margin-bottom: 0;
  font-size: 2em;
  margin-top: 10px;
}

.listFirstPage {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 85px;
}

main {
  min-height: 100%;
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#borderContainer {
  padding: 5rem 9rem 33.7px 9rem; /*paddingbottom era di 9rem*/
}

#btnProceed {
  color: #0b113b;
  background-color: #00ffff;
  box-shadow: 0px 0px 18px 6px #00ffff;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 35px;
  border: none;
  float: right;
  cursor: pointer;
}

#checkboxFirstPage {
  vertical-align: middle;
}

.container {
  position: relative;
  padding-left: 30px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: 3px solid white;
}
.container:hover input ~ .checkmark {
  background-color: #ff32c151;
}

.container input:checked ~ .checkmark {
  background-color: #c2128d;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#advice {
  color: #c2128d;
  visibility: hidden;
  margin-top: 10px;
}

#aLink {
  float: right;
}

a:link,
a:visited {
  color: #0b113b;
  text-decoration: none;
}

#countdown {
  position: relative;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
  align-content: center;
  margin: 0;
  margin-left: auto;
  padding-right: 10px;
  padding-top: 9px;
}

#counterTimer {
  color: white;
  display: inline-block;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  transform: rotate(-90deg);
}

svg circle {
  stroke-dasharray: 314px;
  stroke-dashoffset: 0;
  stroke-width: 7px;
  stroke: #00ffff;
  fill: none;
  transition: stroke-dashoffset 1s linear;
}

#questionHeading {
  font-size: 2.6em;
  margin-top: 0;
  text-align: center;
  line-height: 1.3;
}

.btnGroupAnswers {
  text-align: center;
}

.btnGroupAnswers button {
  display: inline-block;
  width: 250px;
  height: 60px;
  border: 2px solid white;
  border-radius: 35px;
  background-color: transparent;
  color: white;
  margin: 1em;
}

.btnGroupAnswers button:hover {
  background-color: #d20094;
  background-image: linear-gradient(to bottom, #d20094 60%, #900080 100%);
}

#btnNextQuestion {
  float: right;
  color: #0b113b;
  background-color: #00ffff;
  box-shadow: 0px 0px 18px 6px #00ffff;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 25px;
  border: none;
  float: right;
  cursor: pointer;
}

#questionNumbers {
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
}
.numeretto {
  color: #d20094;
  font-size: 17px;
}
.btnGroupAnswersJS {
  background-color: #d20094;
  background-image: linear-gradient(to bottom, #d20094 60%, #900080 100%);
}

#lastItem {
  text-align: center;
  align-content: center;
}

#resultsTitle h1 {
  text-align: center;
  line-height: 1%;
  font-size: 60px;
  font-weight: 700;
}
#resultsTitle h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  word-spacing: 0.5px;
  margin-bottom: 60px;
}
#answersChart {
  text-align: center;
}
#answersChart div {
  display: inline-block;
  text-align: center;
  padding: 0;
  height: 150px;
}
#answersChart h2 {
  width: 45%;
  font-size: 2.6rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.3px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#answersChart h2 span {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 0 10px 0 20px;
}
#answersChart p {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0;
  padding-top: 0;
}

.wrapper {
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  align-content: center;
  width: 18em;
  min-height: 20em;
  position: relative;
}

canvas {
  height: 100%;
  width: 100%;
  display: block;
}

#correctBlock {
  vertical-align: top;
  margin-top: 50px;
  margin-right: 60px;
}

#wrongBlock {
  vertical-align: top;
  margin-top: 50px;
  margin-left: 60px;
}

#resultsQuestions {
  position: absolute;
  width: 100%;
  margin: 30px 10px 30px 10px;
  text-align: center;
  left: -10px;
  top: 80px;
}
#resultsQuestions h4 {
  text-align: center;
  margin: 0;
  padding: 0 60px 0 60px;
  font-size: 16px;
  word-spacing: 0.2px;
}
#resultsQuestions p {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  padding: 0 50px 0 50px;
}

#percentRight {
  color: #00ffff;
  margin: 0;
}

#percentWrong {
  color: #d20094;
}

#lastButtons {
  position: relative;
  color: white;
  padding: 40px;
}
#btnShowAnswers {
  position: absolute;
  left: 30px;
  margin: 20px 0 10px 0;
  border: 1px solid white;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  padding: 18px 30px;
  cursor: pointer;
}
#btnRateUs {
  position: absolute;
  right: 30px;
  margin: 20px 0 10px 0;
  border: 1px solid white;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  padding: 18px 30px;
  cursor: pointer;
}

#innerSign {
  position: absolute;
  top: 62px;
  right: 60px;
  font-size: 20px;
}

#reviewTitle h1 {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 10px;
}
#reviewTitle p {
  text-align: center;
  margin-top: 30px;
}
#rateStars {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.star {
  width: 30px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0.5;
}
.star.hovered {
  opacity: 1;
  color: #00ffff;
}
.star.selected {
  opacity: 1;
  color: #00ffff;
}
#leaveAComment {
  text-align: center;
  font-size: 1.2rem;
}
#reviewText {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(189, 8, 134);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1em;
}

#reviewText:focus {
  outline: none;
}

#moreInfo {
  color: #0b113b;
  background-color: #00ffff;
  box-shadow: 0px 0px 18px 6px #00ffff;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 35px;
  border: none;
  cursor: pointer;
  float: inline-end;
}
